:root {
    --base-color: #000;
    --base-color-alternate: #fff;
    --base-color-disabled: #00000070;
    --error-color: #f00;
    --progress-color: #ff7900;
    --base-background-color: #fff;
    --base-gap: 13px;
    --base-font: 12px "Roboto", sans-serif;
}

.wfds-button {
    box-sizing: border-box;
    position: relative;
    padding: var(--base-gap) calc(2 * var(--base-gap));
    border: 2px solid var(--base-color);
    background-color: var(--base-background-color);
    color: var(--base-color);
    font: var(--base-font);
    cursor: pointer;
}

.wfds-button:disabled {
    color: var(--base-color-disabled);
}

.wfds-button-error {
    border-color: var(--error-color);
    color: var(--error-color);
}

.wfds-button-progress {
    padding-right: calc(2 * var(--base-gap) + 20px);
    border-color: var(--progress-color);
    color: var(--progress-color);
}

.wfds-button-progress::after {
    content: "";
    position: absolute;
    top: 50%;
    right: var(--base-gap);
    margin-top: -10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid;
    border-top: transparent;
    border-right: transparent;
    animation: spin 1.1s infinite linear;
    speak: none;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
