.wfds-tooltip {
    box-sizing: border-box;
    display: none;
    position: absolute;
    top: calc(100% + calc(var(--base-gap) / 2));
    left: 0;
    width: 100%;
    padding: calc(var(--base-gap) / 2) calc(2 * var(--base-gap));
    background-color: var(--base-color);
    color: var(--base-color-alternate);
    font-weight: bold;
    white-space: nowrap;
    z-index: 99;
}

:global(.wfds-tooltip-sticky) .wfds-tooltip,
:global(.wfds-tooltip-trigger):focus .wfds-tooltip,
:global(.wfds-tooltip-trigger):hover .wfds-tooltip {
    display: block;
}

.wfds-tooltip::before {
    content: "";
    speak: none;
    position: absolute;
    top: -10px;
    left: 50%;
    width: 0;
    height: 0;
    margin-left: -16px;
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    border-bottom: 16px solid var(--base-color);
}

.wfds-tooltip-progress {
    background-color: var(--progress-color);
}

.wfds-tooltip-progress::before {
    border-bottom-color: var(--progress-color);
}

.wfds-tooltip-error {
    background-color: var(--error-color);
}

.wfds-tooltip-error::before {
    border-bottom-color: var(--error-color);
}
